:root {
  --bg-color: #fff;
  --text-color: #312A4E;
  --accent-color: #FFAB6B;
  --main-font: Raleway, sans-serif;
  --accent-font: "STIX Two Text", serif;
  --current-color: #b3b3b3;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  min-inline-size: 360px;
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--main-font, Arial, sans-serif);
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

.header {
  padding-top: 10vi;
}

.heading {
  font-family: var(--accent-font, Times, serif);
  line-height: 0.9;
  font-weight: 600;
  text-align: center;
}

.content-section {
  padding-inline-start: 5vi;
  padding-inline-end: 5vi;
}

.header-title {
  font-size: clamp(3.75rem, 2.5rem + 5.5556vi, 7.5rem);
  padding-block-end: 40px;
}

.content-title {
  font-size: 30px;
  padding-block-start: 7vi;
  padding-block-end: 2.5vi;
}

.content__text-block {
  font-size: 18px;
}

.content__text-block > .content__paragraph:not(:last-of-type) {
  padding-block-end: 1.5em;
}

a {
 color: inherit; 
}

.content__blockquote {
  max-width: 75vi;
  margin: 27px auto;
  font-style: italic;
  line-height: 2;
}

.content__list {
  padding-inline-start: 40px;
  list-style: none;
}

li::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-inline-end: 10px;
  background: url(../images/marker-light.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

li:nth-last-child(n+1) {
  margin-block-end: 10px;
}

.content__text-block_type_first-lettered > .content__paragraph:first-of-type::first-letter {
  display: inline-block;
  padding: 0 4px;
  margin-inline-end: 1px;
  background-color: var(--accent-color);
  font-size: 30px;
  font-weight: 600;
}

.content__figure {
  inline-size: calc(100% + 10vi);
  position: relative;
  left: -5vi;
  margin-block: 7vi;
}

.content__picture {
  inline-size: 100%;
}

.content__picture-caption {
  border-bottom: 1px solid  var(--text-color);
  padding-block: 20px;
  text-align: center;
}

.content__card {
  border: 1px solid var(--text-color);
  margin-block-start: 7vi;
  aspect-ratio: 4/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content__card-title {
  font-size: 60px;
  padding-inline: 10px;
}

.content__card-subtitle {
  padding-inline: 10px;
}

.colored-text {
  display: inline-block;
  position: relative;
}

.colored-text::after {
  display: block;
  content: "";
  background-color: var(--accent-color);
  inline-size: calc(100% + 4vi);
  block-size: 0.25em;
  top: 60%;
  left: -2vi;
  position: absolute;
  z-index: -1;
}